@model Assignment2.Models.Employee_Vacation

@{
    ViewData["Title"] = "CreateVacation";
    var supervisorid = ViewData["supervisorid"] as int?;
    var id = ViewData["id"] as int?;
}

<h1>Create</h1>

<h4>Create Vacation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVacation" method="post">
            <input name="id" type="hidden" value="@id" />
            <input name="supervisorid" asp-for="SupervisorId" type="hidden" value="@supervisorid" />
            
            <div class="form-group">
                <label asp-for="Vacation_Start_Date" class="control-label"></label>
                <input asp-for="Vacation_Start_Date" class="form-control" />
                <span asp-validation-for="Vacation_Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacation_End_Date" class="control-label"></label>
                <input asp-for="Vacation_End_Date" class="form-control" />
                <span asp-validation-for="Vacation_Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is_SuperVisor_Approved" class="control-label"></label>
                <select asp-for="Is_SuperVisor_Approved" class="form-control">
                    <option value="" disabled selected>Select an option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="Is_SuperVisor_Approved" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Is_Paid_Vacation" class="control-label"></label>
                <select asp-for="Is_Paid_Vacation" class="form-control">
                    <option value="" disabled selected>Select an option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="Is_Paid_Vacation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approval_Date" class="control-label"></label>
                <input asp-for="Approval_Date" class="form-control" />
                <span asp-validation-for="Approval_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}