@model Assignment2.Models.Customer_Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer_Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hourly_Rate" class="control-label"></label>
                <input asp-for="Hourly_Rate" class="form-control" />
                <span asp-validation-for="Hourly_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certification_Required" class="control-label">Certification Required</label>
                @* The dropdown list: *@
                @Html.DropDownListFor(model => model.Certification_Required, (SelectList)ViewBag.CertificationId, "Select Certification_Description", new { @class = "form-control" })
                <span asp-validation-for="Certification_Required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
