@model Assignment2.Models.Payroll;

@{
    ViewData["Title"] = "Create";
}

<h1>Create new payroll</h1>
<a class="btn btn-secondary" asp-action="Index" asp-controller="Payrolls" asp-route-id="@ViewData["employeeid"]">Cancel</a>
<form asp-action="Create" method="post">
    <input type="hidden" asp-for="EmployeeId" value="@ViewData["employeeid"]" />
    <div class="form-group">
        <label asp-for="Direct_Deposit_Number" class="control-label"></label>
        <input asp-for="Direct_Deposit_Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Check_Number" class="control-label"></label>
        <input asp-for="Check_Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Regular_Pay" class="control-label"></label>
        <input asp-for="Regular_Pay" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Overtime_Pay" class="control-label"></label>
        <input asp-for="Overtime_Pay" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Vacation_Pay" class="control-label"></label>
        <input asp-for="Vacation_Pay" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Tax_Withheld" class="control-label"></label>
        <input asp-for="Tax_Withheld" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adjustment_Reason" class="control-label"></label>
        <input asp-for="Adjustment_Reason" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Pay_Period_Start_Date" class="control-label"></label>
        <input asp-for="Pay_Period_Start_Date" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label asp-for="Pay_Period_End_Date" class="control-label"></label>
        <input asp-for="Pay_Period_End_Date" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label asp-for="Processed_Datetime" class="control-label"></label>
        <input asp-for="Processed_Datetime" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>