@model Assignment2.Models.Payroll;

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete payroll?</h1>
<button class="btn btn-secondary" asp-action="Index" asp-route-id="@Model.EmployeeId">Back to existing payroll</button>
<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="employeeid" value="@Model.EmployeeId" />
    <div class="form-group">
        <label asp-for="Direct_Deposit_Number" class="control-label"></label>
        <input asp-for="Direct_Deposit_Number" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Check_Number" class="control-label"></label>
        <input asp-for="Check_Number" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Regular_Pay" class="control-label"></label>
        <input asp-for="Regular_Pay" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Overtime_Pay" class="control-label"></label>
        <input asp-for="Overtime_Pay" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Vacation_Pay" class="control-label"></label>
        <input asp-for="Vacation_Pay" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Tax_Withheld" class="control-label"></label>
        <input asp-for="Tax_Withheld" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Adjustment_Reason" class="control-label"></label>
        <input asp-for="Adjustment_Reason" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Pay_Period_Start_Date" class="control-label"></label>
        <input asp-for="Pay_Period_Start_Date" class="form-control" type="datetime-local" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Pay_Period_End_Date" class="control-label"></label>
        <input asp-for="Pay_Period_End_Date" class="form-control" type="datetime-local" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Processed_Datetime" class="control-label"></label>
        <input asp-for="Processed_Datetime" class="form-control" type="datetime-local" disabled />
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <button class="btn btn-secondary" asp-action="Index" asp-route-id="@Model.EmployeeId">Cancel</button>
</form>
